## Pivot Tables

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../data-viz/data/premierLeague_17-18.csv')

In [5]:
len(df)

380

In [6]:
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,...,2.32,21,-1.00,1.91,1.85,2.10,2.02,1.49,4.73,7.25
1,E0,12/08/2017,Brighton,Man City,0,2,A,0,0,D,...,2.27,20,1.50,1.95,1.91,2.01,1.96,11.75,6.15,1.29
2,E0,12/08/2017,Chelsea,Burnley,2,3,A,0,3,A,...,2.23,20,-1.75,2.03,1.97,1.95,1.90,1.33,5.40,12.25
3,E0,12/08/2017,Crystal Palace,Huddersfield,0,3,A,0,2,A,...,1.72,18,-0.75,2.10,2.05,1.86,1.83,1.79,3.56,5.51
4,E0,12/08/2017,Everton,Stoke,1,0,H,1,0,H,...,1.76,19,-0.75,1.94,1.90,2.01,1.98,1.82,3.49,5.42

We create a pivot table through pandas’ ‘.pivot_table’ function. It takes two arguments at its most basic:

- The dataframe to pivot – df in this case
- Index – the column that we will pivot around

In [7]:
pd.pivot_table(df, index=['HomeTeam'])

,AC,AF,AR,AS,AST,AY,B365A,B365D,B365H,BWA,...,PSCD,PSCH,PSD,PSH,VCA,VCD,VCH,WHA,WHD,WHH
HomeTeam,,,,,,,,,,,,,,,,,,,,,
Arsenal,4.947368,10.368421,0.105263,9.736842,3.684211,1.210526,7.921053,5.014211,1.787368,7.304211,...,5.231053,1.843684,5.098947,1.810526,8.077895,5.022632,1.797368,7.554211,4.695263,1.794737
Bournemouth,4.421053,10.894737,0.052632,13.473684,4.473684,1.842105,3.032632,3.792105,3.632105,2.933158,...,3.901579,3.770526,3.840000,3.638947,3.003684,3.839474,3.614211,2.957368,3.650000,3.420526
Brighton,5.157895,8.000000,0.052632,12.789474,4.578947,0.842105,2.725789,3.524211,3.906842,2.678947,...,3.545789,3.994211,3.507368,3.913684,2.776316,3.486842,3.850000,2.678947,3.406842,3.777895
Burnley,5.789474,11.947368,0.210526,13.842105,4.210526,0.842105,2.747895,3.598947,4.086842,2.692632,...,3.524737,4.208421,3.601053,4.085263,2.762632,3.574737,4.109474,2.702632,3.454211,3.937368
Chelsea,3.684211,11.684211,0.052632,8.842105,2.684211,1.736842,10.583684,5.599474,1.552632,9.823684,...,5.480000,1.576316,5.569474,1.582632,11.024211,5.405263,1.563158,9.926316,5.194737,1.555789
Crystal Palace,5.052632,11.315789,0.105263,10.842105,4.263158,1.894737,3.196842,3.860000,3.879474,3.094737,...,3.921579,3.975789,3.911579,3.901579,3.197368,3.873684,3.882105,3.166316,3.672632,3.777368
Everton,5.210526,10.315789,0.105263,12.684211,4.263158,1.210526,3.457368,3.599474,3.162632,3.388421,...,3.611579,3.385263,3.653158,3.256842,3.525789,3.613158,3.278421,3.439474,3.439474,3.098947
Huddersfield,4.368421,9.473684,0.052632,9.789474,4.052632,1.684211,2.412632,3.875263,5.284737,2.379474,...,3.892632,5.240000,3.930526,5.201053,2.427895,3.873684,5.293684,2.360526,3.694737,5.146842
Leicester,4.684211,10.263158,0.052632,11.368421,3.631579,1.473684,3.671579,3.785789,2.977368,3.521053,...,3.772632,2.953158,3.833684,2.962105,3.586316,3.813158,2.999474,3.568947,3.621053,2.926316
Liverpool,3.263158,8.473684,0.000000,6.210526,1.947368,1.473684,10.325789,5.910526,1.576842,9.831579,...,6.134737,1.582632,5.985263,1.578947,10.723684,5.873684,1.561053,9.897368,5.244737,1.576842
Man City,2.473684,9.473684,0.105263,5.578947,2.105263,2.105263,17.257895,8.227895,1.279474,15.342105,...,8.726842,1.289474,8.472105,1.294737,16.635789,8.284211,1.276316,16.543684,7.271053,1.285263
Man United,3.947368,11.526316,0.000000,9.263158,3.421053,1.736842,10.936316,5.646316,1.564737,10.389474,...,5.662632,1.605263,5.746842,1.581053,11.763158,5.618421,1.560000,11.150000,5.201579,1.557895
Newcastle,5.000000,10.789474,0.000000,11.473684,3.421053,1.842105,3.150000,3.674211,3.545263,3.115263,...,3.748421,3.415263,3.726842,3.520000,3.202632,3.712105,3.662105,3.073158,3.513158,3.518947
Southampton,4.684211,10.526316,0.052632,11.736842,3.894737,1.315789,4.197368,3.791053,2.953684,4.050000,...,3.826316,2.789474,3.836842,2.916842,4.235263,3.807895,2.899474,4.093158,3.621053,2.880526
Stoke,6.736842,10.421053,0.000000,13.894737,5.105263,1.210526,2.804211,3.798421,4.264211,2.750526,...,3.928947,4.243158,3.854211,4.170000,2.811053,3.798947,4.141579,2.746316,3.615789,4.109474
Swansea,4.263158,11.210526,0.000000,11.684211,4.526316,2.105263,2.579474,3.855789,5.130000,2.548947,...,3.875263,4.958947,3.931579,5.080000,2.602105,3.843684,5.198421,2.534737,3.730526,4.860000
Tottenham,3.736842,10.631579,0.000000,9.000000,3.263158,1.894737,11.196316,5.886316,1.515789,10.026316,...,5.950526,1.536316,5.928947,1.526316,11.185789,5.831579,1.518421,10.710526,5.450000,1.511053
Watford,4.842105,10.842105,0.157895,11.000000,4.263158,1.894737,3.035789,3.752632,3.454211,3.002105,...,3.754737,3.633684,3.778421,3.520000,3.076842,3.731579,3.497895,2.960526,3.610526,3.363684
West Brom,4.578947,9.052632,0.000000,12.052632,3.578947,1.578947,2.837895,3.633684,3.986316,2.751053,...,3.635789,4.049474,3.675789,4.080000,2.815789,3.646316,4.095789,2.739474,3.521053,3.992105
West Ham,4.105263,12.473684,0.052632,11.894737,3.947368,1.421053,3.003158,3.750526,3.582632,2.964737,...,3.753684,3.677895,3.776316,3.676842,3.045263,3.750000,3.640000,2.994211,3.571053,3.575789

This pivot table gives us the mean for each team in each of their home games – for every variable. Useful, but difficult to read.

Let’s choose a couple of columns to look at more closely. We do this by passing a list of columns into the values argument

In [8]:
pd.pivot_table(df, index=['HomeTeam'], values=['FTHG', 'FTAG'])

                    FTAG      FTHG
HomeTeam
Arsenal         1.052632  2.842105
Bournemouth     1.578947  1.368421
Brighton        1.315789  1.263158
Burnley         0.894737  0.842105
Chelsea         0.842105  1.578947
Crystal Palace  1.421053  1.526316
Everton         1.157895  1.473684
Huddersfield    1.315789  0.842105
Leicester       1.157895  1.315789
Liverpool       0.526316  2.368421
Man City        0.736842  3.210526
Man United      0.473684  2.000000
Newcastle       0.894737  1.105263
Southampton     1.368421  1.052632
Stoke           1.578947  1.052632
Swansea         1.263158  0.894737
Tottenham       0.842105  2.105263
Watford         1.631579  1.421053
West Brom       1.526316  1.105263
West Ham        1.368421  1.263158

By default, we get the average in our pivots – but we can pass an ‘aggfunc’ argument to change this. Pass one function to apply it to all columns, or a list of functions to return multiple calculations in your pivot table.

Here are some common functions that you might pass:

- np.sum – Add the figures
- len – Give a count of values
- np.std – Find the standard deviation

In [9]:
pd.pivot_table(df, index=['HomeTeam'], values=['FTHG', 'FTAG'], aggfunc=np.sum)

                FTAG  FTHG
HomeTeam
Arsenal           20    54
Bournemouth       30    26
Brighton          25    24
Burnley           17    16
Chelsea           16    30
Crystal Palace    27    29
Everton           22    28
Huddersfield      25    16
Leicester         22    25
Liverpool         10    45
Man City          14    61
Man United         9    38
Newcastle         17    21
Southampton       26    20
Stoke             30    20
Swansea           24    17
Tottenham         16    40
Watford           31    27
West Brom         29    21
West Ham          26    24

In [10]:
pd.pivot_table(df,index=["HomeTeam"], values=["FTHG","FTHG"], aggfunc=[np.sum,len])

                sum       len
               FTHG FTHG FTHG FTHG
HomeTeam
Arsenal          54   54   19   19
Bournemouth      26   26   19   19
Brighton         24   24   19   19
Burnley          16   16   19   19
Chelsea          30   30   19   19
Crystal Palace   29   29   19   19
Everton          28   28   19   19
Huddersfield     16   16   19   19
Leicester        25   25   19   19
Liverpool        45   45   19   19
Man City         61   61   19   19
Man United       38   38   19   19
Newcastle        21   21   19   19
Southampton      20   20   19   19
Stoke            20   20   19   19
Swansea          17   17   19   19
Tottenham        40   40   19   19
Watford          27   27   19   19
West Brom        21   21   19   19
West Ham         24   24   19   19